@charset "UTF-8";

body {
	margin:0;
	padding:0;
	background-color:#eeeeee;
	font-family: "Lucida Grande", Verdana;
	font-size: 12px;
	color: #434343;
}

a {
	color: #434343;
	font-weight: normal;
	text-decoration: underline;
}

a:hover {
	color:#88b9cf;
	text-decoration: underline;
}

a img {
	border: none;
	outline: none;
}

#header {
	width: 900px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4px;
}

#top {
	height: 77px;
}

.topLeft {
	float: left;
}

.topRight {
	float: right;
}

.topRight ul {
	margin: 0;
	padding: 0;
	margin: 32px 20px 0 0;
	float:right;
}

.topRight li {
	list-style: none;
	float: left;
	margin-left: 34px;
	text-align:center;
}

.topRight li a {
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
}

.topRight li a:hover {
	color:#88b9cf;
	font-weight: bold;
	text-decoration: underline;
}

#subheader {
	clear: both;
	height: 34px;
	font-size: 12px;
	font-style: italics;
	padding-left: 0px;
	padding-top: 8px;
	color: #a9a9a9;
}

#headerslogan {
	height: 34px;
	font-size: 12px;
	font-style: italics;
	padding-left: 12px;
	padding-top: 0px;
	color: #a9a9a9;
	float: left;
	width: 600px;
}

#main {
	background:#FFF;
	border: #e5e5e5 3px solid;
	clear:both;
	padding: 30px;
	color: #222222;
	height: auto;
	overflow: hidden;
	float: left;
	line-height: 20px;
	width: 830px;
}

#mainright {
	height: auto;
	float: right;
	width: 550px;
}

#mainimg {
	height: auto;
	float: left;
	width: 270px;
}

.left {
	width:100px;
	float: left;
	padding-right: 10px;
	height: 90px;
	margin-top: 10px;
}

.right {
	width: 720px;
	float: right;
	height: 90px;
	margin-bottom: 10px;
}

#main h1 {
	margin:0;
	padding:0;
	font-size: 18px;
	margin-bottom: 10px;
}

#main h2 {
	margin-top: 10px;
	margin-bottom: 0px;
	padding:0;
	font-size: 14px;
	color: #aaaaaa;
}

#main h3 {
	margin-bottom: 0px;
	padding:0;
	font-size: 12px;
}

#boxes {
	margin-top: 10px;
	margin-left: -20px;
}


#footer {
	clear:both;
	height: 40px;
	margin-top: 5px;
	padding-top: 10px;
	text-align: center;
}

.faq_question {
	width: 100%;
	border-bottom: 1px solid gray;
	margin-bottom: 7px;
	padding-bottom: 4px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.faq_answer {
	width: 100%;
	font-size: 12px;
	margin-bottom: 15px;
}

.mozbx_screen {
	margin-right: 50px;
}

.install_screen {
	margin-left: 50px;
	margin-top: 15px;
	margin-bottom: 15px;
}

blockquote {
	font-style: normal;
	font-family: monospace;
	padding: 1em 2em 1em 1em;
	border: 1px solid silver;
	background-color: #f9f9f9;
	font-size: 100%;
	margin: 0 0 1.5em 0;
	color: #000000;
}

xmp {
	font-style: normal;
	font-family: monospace;
	padding: 1em 2em 1em 1em;
	border: 1px solid silver;
	background-color: #f9f9f9;
	font-size: 100%;
	margin: 0 0 1.5em 0;
	color: #000000;
	overflow: auto;   
}

.submit_button {
	background-color:gray; 
	color: white;
	border:1px solid red;
	border-color: #696 #363 #363 #696;
	padding: 4px;
}

label {
	cursor: pointer;
}